header{
    width: 100%;

    
}
.parent{
    /* height: 400px; */
    border: 4px solid green;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
    align-items: center; */
    /* display: grid;
    grid-template-columns: repeat(4,100px);
    justify-content: center; */
    padding: 10px;

}
.calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    
}
.date{
    text-align: center;
    padding: 10px;
    background-color: aqua;
}
.day{
    color: white;
    text-align: center;
    background-color: blue;
}
/* .item-1{
    height: 100px;
    width: 200px;
    border: 2px dashed tomato;
    border-radius: 8px;
} */

